termcolor==3.1.0
flask==3.1.1
requests~=2.31.0
chardet==5.2.0
gevent==25.5.1
flask_basicauth==0.2.0
flask_sockets==0.2.1
beautifulsoup4==4.11.1
gevent_websocket==0.10.1
pysocks==1.7.1
lxml==4.9.1
markupsafe~=2.1.2
greenlet~=3.2.3
pyhttpx
yt-dlp
selenium-recaptcha-solver~=1.9.0
webdriver-manager
selenium~=4.8.0