termcolor==3.1.0
fastapi>=0.115.0
uvicorn>=0.30.0
websockets>=12.0
jinja2>=3.1.0
python-multipart>=0.0.9
pip-system-certs==4.0
requests~=2.31.0
chardet==5.2.0
beautifulsoup4==4.11.1
pysocks==1.7.1
lxml==4.9.4
markupsafe~=2.1.2
curl_cffi>=0.7.0
yt-dlp
selenium-recaptcha-solver~=1.9.0
webdriver-manager
selenium~=4.8.0
msal
