<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>aniGamerPlus+</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./static/img/aniGamerPlus.ico" type="image/x-icon" />
    <script src="./static/js/jquery-3.4.0.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <link rel="stylesheet" href="./static/css/bootstrap.rfs.min.css">
    <script src="./static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./static/css/bootstrap-switch.min.css" />
    <script src="./static/js/bootstrap-switch.min-3.3.4.js"></script>
    <link rel="stylesheet" href="./static/css/bootstrap-select.min.css" />
    <script src="./static/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="./static/css/fontawesome.all.min.css" />
    <link rel="stylesheet" href="./static/css/aniGamerPlus.css" />
    <script src="./static/js/userapi.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="./static/img/aniGamerPlus.ico"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item my-navbar">
                    <a class="nav-link" href="./watch">線上看</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>
    <center>
        <h1>歡迎使用aGP+</h1>
        <hr>
        <button type="button" class="btn btn-success" onclick="window.location.href='./watch';">線上看</button>
        <button type="button" class="btn btn-success" onclick="window.location.href='./control';">主控台</button>
    </center>
</body>

</html>